*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.learn-more {
    background-color: #2196f3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}
.learn-more:hover {
    background-color: #1976d2;
}

.home-content {
    max-width: 600px;
    text-align: center;
}
.home-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}
.home-content p {
    font-size: 1.2em;
    color: #666;
}
.home-image {
    margin-top: 30px;
}

.home-image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


.home-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}
.home-content p {
    font-size: 1.2em;
    color: #666;
}
.home-content .learn-more {
    margin-top: 20px;
}
.Numbers{
    font-size: large;
 color: #070707;
}
.Button{
    border-radius: 20px;
    padding: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}
.Button:hover{
 transform: scale(1.35);
    transition: transform 0.3s ease;
}

.Proj{
    border-radius: 20px;
    padding: 8px;
    margin-right: 30px;
cursor: pointer;
}
.Proj:hover{
     transform: scale(1.45);
    transition: transform 0.3s ease;
}
.Cv{
    border-radius: 20px;
    padding: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    margin-left: 20px;
}
.Cv:hover{
 transform: scale(1.35);
    transition: transform 0.3s ease;
}

.description{
    margin-bottom: 10px;
    margin-top: 10px;
}
.Cer3{
    margin-bottom: 20px;
}
.Cer2{
    margin-bottom: 20px;
}
.Cer{
    margin-bottom: 20px;
}
.home-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 120px;
    background-color: #f7f5f5;
    border-radius: 20px;
    height: 100vh;
    
}
.imageG{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    border: 4px solid rgb(11, 11, 11);
    margin-left: 30px;

}
.imageG:hover{
     cursor:pointer;
     transition:transform 1.0s ease;
    transform:scale(1.35);
}
.imageG {
  animation:
    slideRight 1.2s ease-out,
    float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}


.button-group {
  animation: fadeUp 1.5s ease-out;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-content {
  animation: slideLeft 1s ease-out;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
